# Here we will Discuss about Grouped summary statistic

In [54]:
#importations
import pandas as pd
import numpy as np

In [3]:
#load Data
df = pd.read_csv('StudentsPerformance.csv')

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [48]:
#let see the average notes of boys and girls
df.groupby('gender')['math score'].mean()

gender
female    63.633205
male      68.728216
Name: math score, dtype: float64

In [50]:
# Boys math score are greather than Girls
df.groupby('gender')['reading score'].mean()

gender
female    72.608108
male      65.473029
Name: reading score, dtype: float64

In [51]:
#Girls reading note are greather than Boys
df.groupby('gender')['writing score'].mean()

gender
female    72.467181
male      63.311203
Name: writing score, dtype: float64

In [52]:
#Girls writing note are greather than Boys
df.groupby('parental level of education')['math score'].mean()

parental level of education
associate's degree    67.882883
bachelor's degree     69.389831
high school           62.137755
master's degree       69.745763
some college          67.128319
some high school      63.497207
Name: math score, dtype: float64

In [33]:
df.groupby('parental level of education')['reading score'].mean()

parental level of education
associate's degree    70.927928
bachelor's degree     73.000000
high school           64.704082
master's degree       75.372881
some college          69.460177
some high school      66.938547
Name: reading score, dtype: float64

In [35]:
df.groupby('parental level of education')['writing score'].mean()

parental level of education
associate's degree    69.896396
bachelor's degree     73.381356
high school           62.448980
master's degree       75.677966
some college          68.840708
some high school      64.888268
Name: writing score, dtype: float64

# It can therefore be seen that the level of education of the parents influences the performance of the learners.
# The marks of children whose parents have a high level of education are higher than those of others

In [32]:
df.groupby('race/ethnicity')['math score'].mean()

race/ethnicity
group A    61.629213
group B    63.452632
group C    64.463950
group D    67.362595
group E    73.821429
Name: math score, dtype: float64

In [36]:
df.groupby('lunch')['math score'].mean()

lunch
free/reduced    58.921127
standard        70.034109
Name: math score, dtype: float64

In [37]:
df.groupby('lunch')['reading score'].mean()

lunch
free/reduced    64.653521
standard        71.654264
Name: reading score, dtype: float64

In [39]:
df.groupby('lunch')['writing score'].mean()

lunch
free/reduced    63.022535
standard        70.823256
Name: writing score, dtype: float64

# high-income students also have the highest grades

In [42]:
df.groupby(['parental level of education', 'lunch'])['math score'].mean()

parental level of education  lunch
associate's degree           free/reduced    62.610390
                             standard        70.682759
bachelor's degree            free/reduced    63.000000
                             standard        73.189189
high school                  free/reduced    54.514286
                             standard        66.373016
master's degree              free/reduced    61.166667
                             standard        75.628571
some college                 free/reduced    60.126582
                             standard        70.891156
some high school             free/reduced    53.934426
                             standard        68.440678
Name: math score, dtype: float64

# Academic performance of students is influenced by parental level of education and parental income

In [44]:
df.groupby('test preparation course')['math score'].mean()

test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64

In [45]:
df.groupby('test preparation course')['reading score'].mean()

test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64

In [46]:
df.groupby('test preparation course')['writing score'].mean()

test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

# The complete test preparation course perform the school level